.modal-title {

  margin-left: 120px;
  margin-right: auto;
}
#parkBef{
  padding-right: 25px;
  padding-left: 25px;
}

@media only screen and (max-width: 600px) {
  #rogzitUj, #parkBef{
    margin-left: 20px;
  }

  #parkBiz{
    margin-left: 35px;
  }

  
}

