.header {
    background-image: url("../../assets/img/car.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-top: -60px;
}

@media only screen and (max-width: 600px) {
    .header {
        background-image: url("../../assets/img/car.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 350px;
        margin-top: -60px;
    }

    h1 {
        font-size: 2.5em;
    }

    #welcomeH1 {
        margin-top: 20px;
    }
}